{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="myserverWrap">
            <div class="container">
                <div class="serverInfo ">
                    <div class="tit">同城搬运</div>
                    <ul class="list">
                        <li class="item">
                            <div class="flex-left">01</div>
                            <div class="flex-right">
                                <p>
                                    我公司严格按照专业搬运流程，专业团队为您的红木家具制定专业的搬运方案，前期上门勘察.专业打包.包括后期专业人员的搬.运，都是处处为您的家具着想，提供保姆式服务。
                                </p> 
                            </div>
                        </li>
                        <li class="item">
                            <div class="flex-left">02</div>
                            <div class="flex-right">
                                <h4>搬运家具流程：</h4>
                                <p>
                                    (1) 下单.预约，专业师傅上门勘察，确定搬运家具清单，确认搬运价格，签订合同。
                                </p> 
                                <p>
                                    (2) 提供精细打包.拆装搬运。
                                </p> 
                                <p>
                                    (3) 搬运家具按时上门，按照顾客要求现场还原，按照清单清点家具，验收无误后，按合同支付余款。
                                </p> 
                            </div>
                        </li>
                        <li class="item">
                            <div class="flex-left">03</div>
                            <div class="flex-right justifyCenter">
                                <h4>服务承诺：</h4>
                                <p>
                                    确定价格绝无临时加价，满意后付款。
                                </p> 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}