{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="contactWrap">
            <div class="container">
                <div class="contactInfo ">
                    <h2 class="tit">
                        联系我们
                    </h2>
                    <div class="info">
                        <p class="p1">北京红日森红木家具有限公司         </p> 
                        <p class="p1">厂　址：北京市昌平区横桥村</p>
                        <p class="p1">手　机：15011293615 </p>
                        <p class="p1">电　话：010-60771480 </p>
                        <p class="p1">联系人：周  华</p>
                        <p class="p1">传  真：010-60771480 </p>
                        <p class="p1">邮  箱：hongrisen@sina.com </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}