{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="myserverWrap">
            <div class="container">
                <div class="serverInfo ">
                    <div class="tit">家具养护</div>
                    <ul class="list">
                        <li class="item">
                            <div class="flex-left">01</div>
                            <div class="flex-right">
                                <p>
                                    红木家具之所以可以保存几百年，是和木质.做工.保养是分不开的，定期专业的保养才能让家具保持光泽.延长使用年限。我公司秉承专业.细心.严谨的匠人精神，为您的红木家具做专业的养护。
                                </p> 
                            </div>
                        </li>
                        <li class="item">
                            <div class="flex-left">02</div>
                            <div class="flex-right">
                                <h4>养护流程：</h4>
                                <p>
                                    (1) 下单.预约专业师傅上门勘察。
                                </p> 
                                <p>
                                    (2) 给出养护方案，客户确定养护方案，确定价格，签订合同。
                                </p> 
                                <p>
                                    (3) 按照预约时间准时上门专业服务。事后清理工作区域。
                                </p> 
                                <p>
                                    (4) 客户验收，满意付款。
                                </p> 
                            </div>
                        </li>
                        <li class="item">
                            <div class="flex-left">03</div>
                            <div class="flex-right justifyCenter">
                                <h4>服务承诺：</h4>
                                <p>
                                    确定价格绝不加价，满意后付款。
                                </p> 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}