{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="freightbasisWrap">
            <div class="container">
                <div class="freightbasisInfo ">
                    <div class="tit">
                        <span class="block">搬运费</span>
                        <span class="y-axis"></span>
                        <span class="block">安装费</span>
                        <span class="y-axis"></span>
                        <span class="block">维修费</span>
                        <span class="y-axis"></span>
                        <span class="block">保养费</span>
                        <span class="y-axis"></span>
                        <span class="block">翻新费</span>
                    </div>
                    <div class="info">
                        <div class="text">
                            <p class="p1">北京红日森红木家具有限公司在红木家具搬运、安装、维修、保养、翻新方面，拥有丰富的工作经验。技术精湛、技术一流可以为客户提供优质的服务，具体各项费用需结合实际情况收取费用。</p>
                        </div>
                        <img class="img" src="__IMG__/freightbasis_2.png" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}