{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="detailWrap">
            <div class="container">
                <div class="detail ">
                    <h2 class="tit">
                        红木酒柜——爱酒人士都选这样的家具
                    </h2>
                    <div class="info">
                        <p class="p1">
                            中国的酒文化历史源远流长，所造之酒品类繁多，且享誉中外。然而酒的发明，也是一次偶然。传说杜康有一次将剩饭倒入了空的桑树中，时间长饭就发酵了，散发出了一种芬芳的气味，并流出一种液体，尝起来味美甘甜，这便是酒的起源。
                        </p> 
                        <img src="__IMG__/industryDetail_4_1.jpg" alt="" srcset="">
                        <p class="p1">
                            国人对酒十分喜爱，不仅体现在酒桌上，也有不少诗词歌赋来歌颂酒的。“何以解忧，唯有杜康”，“劝君更尽一杯酒，西出阳关无故人”酒作为了宴请宾客，送别故人的必备之物。所以好酒配好器物，一张红木酒柜就是爱酒人士的首选了。
                        </p>
                        <p class="p1">
                            从酒柜中拿出一瓶红酒，开启后缓缓倒入杯中，感受酒的芬芳香醇，端起酒杯浅浅入口，一股香气沁入心脾。良辰美景更需好酒相伴，一人独饮可享受其中的乐趣，让人感到放松，悠闲与自在。众人共饮，觥筹交错，享受的是情感的深度交流。
                        </p>
                        <img src="__IMG__/industryDetail_4_2.jpg" alt="" srcset="">
                        <p class="p1">
                            红木酒柜质地优良，触感细腻温润，餐厅里摆放这样一件酒柜，一定能够增光添彩。红木历来就受皇帝青睐，能够代代相传，本身不腐不烂，这样的优点也受到了人们的喜爱。而且红木大气沉稳，雕工上乘，仿若行云流水，如诗如画。红木最难得的是它的气质，高雅大方，恬淡清逸，符合爱酒人士的审美需求，也能给家里平添一份贵气。
                        </p>
                        <p class="p1">
                            爱酒的你还在犹豫吗？俗话说，好马配好鞍，好酒自当配上好的酒柜，才能显示它的价值。一张上好的红木酒柜能够让你彰显气质，提升格局。
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}