{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="detailWrap">
            <div class="container">
                <div class="detail ">
                    <h2 class="tit">
                        艺术生活品质——红木大床品鉴
                    </h2>
                    <div class="info">
                        <p class="p1">
                            金风细细，叶叶梧桐坠，绿酒初尝人易醉。一枕小窗浓睡，紫薇朱槿花残，斜阳却照阑干。双燕欲归时节，银屏昨夜微寒。
                        </p> 
                        <img src="__IMG__/industryDetail_1_1.jpg" alt="" srcset="">
                        <p class="p1">
                            古人崇尚的是艺术儒雅的生活，即使是卧房，也要讲究摆放与布局的方法。到了如今，我们也是一样的。追求高雅舒适的生活，接近自然，以求天人合一的心灵境界。所以，如今更多的人选择红木家具，坐卧红木大床，宁心静气，得到了“繁花似锦觅安宁，淡云流水度此生”的上乘境界。
                        </p>
                        <img src="__IMG__/industryDetail_1_2.jpg" alt="" srcset="">
                        <p class="p1 ph">
                            材质
                        </p>
                        <p class="p1">
                            人们常说，“睡紫檀，坐酸枝，入药黄花梨”。红木确实是打造大床的上等材料，相对来说，市面上的缅甸花梨、非洲花梨性价比相对较高；大红酸枝和紫檀价格偏高一点，但是品质确是极好的，尤其是酸枝的香气带有些许的酸气，沁入心脾，芳香流连。
                        </p>
                        <p class="p1 ph">
                            纹样
                        </p>
                        <p class="p1">
                            红木大床常用的纹样都是代表吉祥如意，而且平静祥和，给人营造一种优雅的环境，利于睡眠。比如，荷花鸳鸯、喜上眉梢、百子图、孔雀牡丹。这些纹样不但有利于睡眠，而且也象征着夫妻琴瑟和鸣，伉俪情深。
                        </p>
                        <p class="p1 ph">
                            功效
                        </p>
                        <p class="p1">
                            红木大床的功效是不言而喻的，尤其是紫檀，有镇心安神的功效，能够舒筋活血，增强免疫力。而且还能对细胞起到促进作用，达到预防皱纹的美容效果。睡在紫檀床上，也不必担心蚊虫的烦扰。
                        </p>
                        <img src="__IMG__/industryDetail_1_3.jpg" alt="" srcset="">
                        <p class="p1 ph">
                            艺术气息
                        </p>
                        <p class="p1">
                            卧室里放一张红木大床，佐以清新绿植，淡雅瓷器，古典画作，确有一番儒雅的艺术气息。我们身处喧嚣，却又向往淡云流水的生活。不妨给自己的卧室装扮一下，效仿古人恬静淡雅的生活态度，做一个心灵自由的逍遥人士。
                        </p>
                        <p class="p1">
                            择一个红木大床，给自己一处凝神静气的之所，同时也给家人一个安枕的机会。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}