{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="detailWrap">
            <div class="container">
                <div class="detail ">
                    <h2 class="tit">
                        探秘和珅的旧府邸——恭王府里的红木家具
                    </h2>
                    <div class="info">
                        <p class="p1">
                            和珅，是历史上比较有名的一个人物。不以政绩斐然出名，而是以贪污为后人所诟病。和珅官拜文华殿大学士，位居一品，深受乾隆宠爱。乾隆死后，嘉庆下令革掉和珅职位，抄没家产，惩治了这一大贪官。“和珅跌倒，嘉庆吃饱”，嘉庆抄了和珅的府邸，共获得了8亿两白银，相当于清政府十五年的收入。和珅死后，嘉庆将他的府邸赐给了自己的胞弟永璘。
                        </p> 
                        <img src="__IMG__/industryDetail_3_1.jpg" alt="" srcset="">
                        <p class="p1">
                            1851年爱新觉罗•奕欣成为了宅子的主人，这就是著名的恭亲王府。“一座恭王府，半部清代史”，恭王府历经了清王朝由鼎盛而至衰亡的历史进程，承载了极其丰富的历史文化信息，具有极大的历史价值。
                        </p>
                        <img src="__IMG__/industryDetail_3_2.jpg" alt="" srcset="">
                        <img src="__IMG__/industryDetail_3_3.jpg" alt="" srcset="">
                        <p class="p1">
                            恭王府前半部是富丽堂皇的府邸，后半部为幽深秀丽的古典园林，总占地面积将近六万平方米。其府邸建筑庄重肃穆，明廊通脊，气宇轩昂，仅次于帝王居住的宫室。府后的萃锦园则衔水环山，古树参天，曲廊亭榭，富丽天然。其间景致之变化无常，开合有致，实为中国园林建筑的典范。
                        </p>
                        <img src="__IMG__/industryDetail_3_4.jpg" alt="" srcset="">
                        <p class="p1">
                            和珅是乾隆年间的二号人物，清朝第一巨贪，其所敛财物数不胜数，由此这也成了他掉脑袋的理由。在清代的史料《查抄和住宅花园清单》中记载，黄花梨紫檀器库六间，共计8600余件，其中的价值不言而喻。眼看他高楼起，眼看他高楼塌，人生百年，不过浮华半世！
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}