{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="detailWrap">
            <div class="container">
                <div class="detail ">
                    <h2 class="tit">
                        “疏影横斜水清浅，暗香浮动月黄昏”——浅谈红木家具的“梅花精神”
                    </h2>
                    <div class="info">
                        <p class="p1">
                            梅花是我国十大名花之一，她冰肌玉骨、独步早春、凌寒留香的品性历来深为人们所钟爱。人们喜爱梅花，不单被梅花俊俏的外表着迷，也折服于它不畏严寒，凌霜傲雪的坚韧品格。这便是梅花精神，它给人带来人生启迪，不惧权势，顽强不屈，不卑不亢的精神正是我们从梅花上学到的。
                        </p> 
                        <img src="__IMG__/industryDetail_2_1.jpg" alt="" srcset="">
                        <p class="p1">
                            自春秋战国时期便盛行爱梅之风，人们从采梅果过渡倒赏花，将梅子和梅花作为馈赠和祭祀的礼品。“折花逢驿使，寄与陇头人。江南无所有，聊赠一枝春。”自陆凯开始，人们便以梅花寄情。北宋处士林逋，隐居杭州孤山，不娶无子，而植梅放鹤，称“梅妻鹤子”，被传为千古佳话。他的《山园小梅》诗中名句：“疏影横斜水清浅，暗香浮动月黄昏。”是梅花的传神写照，脍炙人口，被誉为千古绝唱。
                        </p>
                        <img src="__IMG__/industryDetail_2_2.jpg" alt="" srcset="">
                        <p class="p1">
                            红木家具也有梅花的身影。“梅兰竹菊”四君子是咏物诗和文人画中的常见题材，而它们也经常出现在红木家具中，以表达清高的文人品格。当然，还有喜鹊登梅图一直为人们所喜爱，“梅”也有报春花的含义，所以这也寓示着好事将近。
                        </p>
                        <img src="__IMG__/industryDetail_2_3.jpg" alt="" srcset="">
                        <p class="p1">
                            这对红木梅花纹花几，高耸挺立，为束腰款。每个花几有六腿，整体呈六边形，宛若一位亭亭玉立的少女独倚栏杆。透雕梅花纹，六脚以回形纹装饰，格调清雅隽秀，结构合理，造型美观，实在是一件佳品。以梅花纹作为装饰，仿佛也是赋予了红木家具一种坚毅不屈的品格，这与红木本身持之以恒的精神相得益彰。
                        </p>
                        <p class="p1">
                            红木文化的传承与发扬，正如梅花的品格一样，不为外界所扰，始终坚守自己的本心。任凭外面繁华世界，我独守这一方禅心净地。梅花精神也是红木精神，更是我们每个人应当学习的高尚精神！
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}