{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="detailWrap">
            <div class="container">
                <div class="detail ">
                    <h2 class="tit">
                        皇城里的红木家具——“京味儿”十足
                    </h2>
                    <div class="info">
                        <p class="p1">
                            说起“京味文化”，大家首先想到的必是庄严巍峨的故宫、生旦净丑的京剧艺术、坐落市井的四合院建筑......北京，是一座历史悠久的古都。建城的历史长达3000年之久，建都史也有800年了。京味文化，是北京地域特征的特殊文化符号。
                        </p> 
                        <img src="__IMG__/industryDetail_6_1.jpg" alt="" srcset="">
                        <img src="__IMG__/industryDetail_6_2.jpg" alt="" srcset="">
                        <p class="p1">
                            北京的传统工艺中，京作家具是最出色的宫廷艺术代表。皇城里的红木家具，沾染着浓郁的京味文化，两者相互交错，相互影响。
                        </p>
                        <p class="p1">
                            雅俗共赏，文化共通
                        </p>
                        <p class="p1">
                            文化中，素来有“阳春白雪”和“下里巴人”的说法，两者分别指的就是高雅文化和通俗文化。宫廷、士大夫、官僚之间的是高雅文化，市井百姓之间的通俗文化。而京味文化中，可谓是两者兼容，相互影响。既有天坛、颐和园这样高雅艺术的聚集地，也有流出豆汁、卤煮香味的老北京胡同
                        </p>
                        <p class="p1">
                            红木家具中的文化性更多显现在雕刻技艺中。“梅兰竹菊”可谓是四君子，经常被雕刻在红木家具上，带有浓厚的文人气息，不屈不挠的精神文化称得上是高雅文化。而在市井中流传的“八仙过海”、“百子图”等故事也广泛地应用在红木家具雕刻中，起到寓教于乐的作用。所以，红木家具也具有雅俗共赏的意义。
                        </p>
                        <p class="p1">
                            庄重大气，美轮美奂
                        </p>
                        <p class="p1">
                            京味文化包罗万象，庄重大气。京都文化，依据独一无二的历史、政治优越感，展现了浑厚凝重、壮美博大的气韵。同样的，产生于清代的京作家具也以雍容华贵、绚丽豪放著称。为了彰显皇室风范，清朝的红木家具用料奢靡，以名贵的紫檀、酸枝作为原料，以象牙、珐琅、玉石、金银作为镶嵌之物，豪华气派之风成了京作家具最著名的一个标签。
                        </p>
                        <img src="__IMG__/industryDetail_6_3.jpg" alt="" srcset="">                        
                        <p class="p1">
                            时至今日，我们仍然崇尚着京味文化。那些地道的“京片子”，精彩绝伦的京剧、杂耍，孕育了独一无二的京作家具，让我们看到了传统文化传承千年的影子。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}