{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="detailWrap">
            <div class="container">
                <div class="detail ">
                    <h2 class="tit">
                        浅谈中国红木文化，竟然还和古建筑有些联系？
                    </h2>
                    <div class="info">
                        <p class="p1">
                            浅谈中国红木文化，竟然还和古建筑有些联系？
                        </p> 
                        <p class="p1">
                            有人说，红木家具就是中国古建筑的缩影。这倒也不难理解，毕竟先有的古建筑，然后红木家具也借鉴了其中的精髓。比如，我们所看到的一些古建筑是榫卯结构，屹立千年不倒。而且红木家具也采用榫卯结构，严丝合缝，即使过了很多年，依然坚固如初。
                        </p> 
                        <img src="__IMG__/industryDetail_5_1.jpg" alt="" srcset="">
                        <p class="p1">
                            热爱古典建筑的人都知道，宫殿的四角飞起，像是燕子一般，那便是“飞檐”。如同飞鸟展翅，轻盈活泼。
                        </p>
                        <img src="__IMG__/industryDetail_5_2.jpg" alt="" srcset="">
                        <img src="__IMG__/industryDetail_5_3.jpg" alt="" srcset="">
                        <p class="p1">
                            其实，我们不难发现，翘头案也有相应的设计。条案两边翘起的飞角，作凌云飞起之势，同时又尽显稳重端庄之气，是一件风雅之物。
                        </p>
                        <p class="p1 ph">
                            台基与托泥
                        </p>
                        <p class="p1">
                            古代一些亭台楼阁底部都设有台基，为了提高自身高度放止雨水侵入，也是追求四平八稳的原理。
                        </p>
                        <img src="__IMG__/industryDetail_5_4.jpg" alt="" srcset="">
                        <img src="__IMG__/industryDetail_5_5.jpg" alt="" srcset="">
                        <p class="p1">
                            无独有偶，皇宫椅和花几的底部有时候也设置托泥，承接腿足，增加稳重之感。托泥是台基在家具上的缩影，给家具带来沉稳庄重的底蕴。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}