{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="detailWrap">
            <div class="container">
                <div class="detail ">
                    <h2 class="tit">
                        红木家具与瓷器的和谐之美
                    </h2>
                    <div class="info">
                        <p class="p1">
                            明代家具结构合理耐看，在古朴的基调上艺术感十足。与不同的瓷器搭配，更生出一种和谐之美。那么，让我们来做一次设计师，看看明代不同时期的家具，是如何与瓷器碰撞出火花的。
                        </p> 
                        <img src="__IMG__/knowledgeDetail_4_1.jpg" alt="" srcset="">
                        <p class="p1">
                            明中期之前，两者并没有固定的搭配讲究；明中期后，由于家具样式越来越丰富，家具和瓷器摆放也越来越讲究。
                        </p>
                        <p class="p1">
                            随着时代的进步，瓷器与家具最佳的搭配方式慢慢呈现出来。整体而言，家具与瓷器搭配主要符合室内空间的环境和搭配的合理性，满足人们美好愿景，从而推动室内设计的发展。
                        </p>
                        <img src="__IMG__/knowledgeDetail_4_2.jpg" alt="" srcset="">
                        <p class="p1">
                            清代朱琰在《陶说》中谈及文人用瓷有“砚屏、墨床、书滴、画轴、秘阁、镇纸司直各适其用”。从中可知一定的搭配模式将更好地发挥瓷器和家具的优越性。
                        </p>
                        <p class="p1">
                            其中描绘与瓷器相关联的家具，都和尊者息息相关，而这位尊者经考证史料便是宋徽宗赵佶。同时靳青万先生认为石花几上花盆可能是钧瓷，那么它的价值不言而喻。
                        </p>
                        <p class="p1">
                            古言“家有万贯，不如钧瓷一件”、“十窑九不成”都是形容钧窑的稀贵。这么稀缺的瓷器当为皇帝所用，才能与其高贵的身份相符。
                        </p>
                        <p class="p1">
                            宋徽宗是中国艺术造就最高的皇帝，他对器物有着很高的见解与创新，同时宋朝的官窑更是制瓷业最高成就，必然会讲究其摆放的方式
                        </p>
                        <img src="__IMG__/knowledgeDetail_4_3.jpg" alt="" srcset="">
                        <p class="p1">
                            对于雕件家具而言，粉彩和珐琅彩上的图案装饰层次感比较丰富，粉彩瓷瓶一般采用玻璃白罩着它，同时珐琅采用掐丝铜填色的方法去制作，这两种的表现方法都是为了使其画面立体，搭配厚重的雕件红木家具，形式感相对和谐，彰显主人的高贵气质。
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}