{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="detailWrap">
            <div class="container">
                <div class="detail ">
                    <h2 class="tit">
                        为什么越来越多人喜欢上缅甸花梨家具，其材质大果紫檀有何特点呢
                    </h2>
                    <div class="info">
                        <p class="p1">
                            黄花梨由于纹理或隐或现、色泽不静不喧，被视为制作红木家具的上乘佳品，因此，备受工匠大师的喜爱。
                        </p> 
                        <p class="p1">
                            在明清时期，为红木家具盛世，当时使用黄花梨制成的红木家具较之其他年代可谓是卓尔不群，其中明式家具从简，结构精巧、造型唯美、简约大气；清式家具从精，精雕细刻，将工艺发展到极致。时至今日，无论是从艺术审美还是从人工学的角度去观察，世人都对明式、清式家具赞不绝口，称谓它们为世界家具艺术中的珍品，而这些所谓的珍品以黄花梨居多，可见世人对黄花梨的喜爱。
                        </p> 
                        <p class="p1">
                            而随着海南黄花梨资源枯竭，市场的海南黄花梨家具可谓有市无价。随后，与海南黄花梨同材质的木材——越南黄花梨也被大量采用，直至当下亦趋于一木难求的境界。虽然这两种黄花梨珍材资源枯竭，但其制成的红木家具还是占据了市场的主导位置，因此，俗称缅甸花梨的大果紫檀被推上这个“风口浪尖”，从13年至今日热度一直不减，是最具升值潜力的红木之一。那么缅甸花梨究竟哪几点值得大家关注？
                        </p> 
                        <img src="__IMG__/knowledgeDetail_5_1.jpg" alt="" srcset="">
                        <p class="p1">
                            缅甸花梨，学名为“大果紫檀（新国标将鸟足紫檀及越柬紫檀并入大果紫檀）”，又称为香花梨，是国标红木紫檀属花梨木类，有檀香味，其香味极其醇厚；材质坚硬，耐雕，在红木中以稳定性强著称；密度高；木纹清晰，通常为深色条纹，些许部位有明显的虎皮纹，断断续续极为美观，颜色偏红，木纹呈淡红色；结构细密均匀；心材呈桔红、砖红或紫红色。
                        </p>
                        <img src="__IMG__/knowledgeDetail_5_2.jpg" alt="" srcset="">
                        <p class="p1 ph">
                            材质坚、重
                        </p>
                        <p class="p1 p3">
                            缅甸花梨制成的红木家具价格虽亲民，但也不低廉，所以应具备实用性、可观性及传承性，而拥有坚硬、沉重、细密、耐腐、耐雕的特性足以让制成的红木家具经受岁月的洗涤，做到世代相传。
                        </p>
                        <p class="p1 ph">
                            纹理丰富多彩
                        </p>
                        <p class="p1 p3">
                            缅甸花梨的纹理丰富多彩，如山水纹、水波纹、虎皮纹甚至类似黄花梨的鬼脸等。而在具备这些丰富多彩的纹饰的同时加之卓越工艺雕刻手段，可谓呈现匠心独具的上乘佳品。
                        </p>
                        <p class="p1 ph">
                            色彩丰富
                        </p>
                        <p class="p1 p3">
                            缅甸花梨色彩丰富，如赫黄、褐赤、紫黄甚至类似紫檀的颜色，可谓尊贵、祥瑞、雅致。如此木材，制成的红木家具“秀色可餐”！
                        </p>
                        <p class="p1 ph">
                            味香，沁人心脾
                        </p>
                        <p class="p1 p3">
                            缅甸花梨具备醇厚的檀香味，香气沁人心脾、让人神清气爽，有延年益寿的作用。这也是缅甸花梨价值观的一种体现。
                        </p>
                        <p class="p1 ph">
                            油性极佳
                        </p>
                        <p class="p1 p3">
                            缅甸花梨油性极佳，制成的红木家具在经过打磨、上蜡等处理后会如绸缎、琥珀、美玉般莹润。
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}