{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="detailWrap">
            <div class="container">
                <div class="detail ">
                    <h2 class="tit">
                        生活中的“仪式感”，红木家具带给您
                    </h2>
                    <div class="info">
                        <p class="p1">
                            随着社会的发展，人们追求更高的生活品质，寻求“仪式感”。那么仪式感到底是什么呢？
                        </p> 
                        <img src="__IMG__/knowledgeDetail_6_1.jpg" alt="" srcset="">
                        <p class="p1">
                            它是简单的“一房两人三餐四季”的恬静生活，还是“宠辱不惊，闲看庭前花开花落”的悠闲心境呢？其实，二者兼有。仪式感可以是每天打一个漂亮的领结、周末给远方朋友写一封信或者每月参加一次读书会。把单调的生活过得有仪式感，这是一种生活的艺术。
                        </p>
                        <p class="p1">
                            在客厅中摆放一个罗汉床，一个人时偏倚在榻上轻摇团扇，两人时在炕几上摆放一个棋盘，博上几番，绕有一番乐趣。长夜漫漫，月色悠悠，打开窗户，让清风拂过树枝，坐卧罗汉床上，对月吟诗作曲，独得一份愉悦。这难道不是生活中的仪式感吗？
                        </p>
                        <p class="p1">
                            喜欢读书的人，一定要有一间书房。笔墨纸砚摆放书桌上，青花瓷瓶坐落墙角，水墨丹青附庸文人雅趣。闲时，写上几个大字，练练书法，或者瞻仰颜体、柳体、草书这样的大家书法。忙碌时，一间红木书房更显得十分重要。虽与喧嚣咫尺之遥，但独留一处安静之地，能够凝神思考。
                        </p>
                        <img src="__IMG__/knowledgeDetail_6_2.jpg" alt="" srcset="">
                        <p class="p1">
                            民以食为天，一日三餐不可少。一个餐桌，大家围坐在一起，其乐融融共享家庭的温暖。从古代开始，人们就围绕着饮食规定了一系列的礼仪，所以一张餐桌最能体现生活中的仪式感。比如上菜时要尊重长者，吃饭时不要发出声音，还有主人和宾客的位置也颇有讲究。正是这样的文化传统代代传承，才让我们的生活更加美好。
                        </p>
                        <p class="p1">
                            我们希望在忙碌的生活中，留一点给自己的时间，不断追求生活中的“仪式感”，来让自己感受心灵的满足，精神的充实。而这仪式感，就在我们身边，它是抽象的精神概念，也是具象的物体存在，给我们带来美好的希望。
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}