{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="detailWrap">
            <div class="container">
                <div class="detail ">
                    <h2 class="tit">
                        说说红木家具中的禅道意境，越品越美！
                    </h2>
                    <div class="info">
                        <p class="p1">红木家具起源于明朝，秉承中国传统文化。从结构、纹样等方面深刻展露了浓厚的文化气息，给人心灵的宁静之感，今天我们就来说说红木家具中的禅道意境。</p> 
                        <img src="__IMG__/knowledgeDetail_1_1.jpg" alt="" srcset="">
                        <p class="p1">禅道最讲究的是宁静，空灵。静可以让人思虑更远，静可以让人洞察世事。以青砖铺陈，素色漆墙，设一对圈椅列入其中，摆上两盏茶杯，倾听自然的呼唤。这难道不是返璞归真，寻求本心吗？其间的禅意油然而生，让人乐在其中。</p>
                        <img src="__IMG__/knowledgeDetail_1_2.jpg" alt="" srcset="">
                        <p class="p1">红木家具多呈偏红色，偏黄色，空间的布置多用素雅色调，来彰显古典文化的魅力。现在许多人装修房子的时候都崇尚一种宁静恬适的风格，以中式家具来烘托打造禅意。而其中，红木家具是首选。家具本身肌理细腻，花纹优美，给人一种视觉的享受。尤其是以莲花、“卍”字纹等作为纹样装饰的，更体现了丝丝幽深的禅意。只有经过岁月的凝练，才能制作出具有如此美好意境的红木家具。</p>
                        <img src="__IMG__/knowledgeDetail_1_3.jpg" alt="" srcset="">
                        <p class="p1">修身养性是禅道中所提倡的。参禅者以各种方式参悟禅道，都是为了能够修身养性，追求世俗之外的高雅精神。红木家具也是可以修身养性的，不仅是其中的结构纹样以及自身文化精神对人的熏陶，也体现在红木的功效上。红木养生已经不是一种虚无缥缈的东西，长期使用红木家具的人，精神状态饱满，身体精力充沛。</p>
                        <p class="p1 p2">“一花一世界，一叶一菩提”，是参禅者的上乘境界。用红木家具就是参禅，从其中悟道，钻研，以求返璞归真，天人合一。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}