{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="detailWrap">
            <div class="container">
                <div class="detail ">
                    <h2 class="tit">
                        红木的起源 竟然还有如此故事
                    </h2>
                    <div class="info">
                        <p class="p1">
                            红木家具历经数百年，至今仍长盛不衰。从昔日的富贵门户的藏物进入了寻常百姓家，更是吸引着很多的高艺术修养和对传统文化有深厚情结的人们。红木家具之所以长盛不衰大概是因为它不仅延承了中华的优秀文化历史，还在于其与时俱进地跟着时代进步融入了不少现代流行元素。要想更深了解到红木家具的前世今生，我们应该从红木家具的故事开始研读。
                        </p> 
                        <img src="__IMG__/knowledgeDetail_3_1.jpg" alt="" srcset="">
                        <p class="p1">
                            关于红木家具的故事其中有一段与三宝太监郑和有关的颇不寻常的故事。据史载，郑和下西洋，曾到达越南、印度尼西亚的爪哇和苏门答腊、斯里兰卡、印度和非洲东岸，给外国人带去丝绸和瓷器，而带回来的除了其他货物外，主要就是红木。郑和带回那么多的红木，原来目的是利用红木分量重来做压舱。红木运回中国后，一些能工巧匠把带回的木质坚硬、细腻、纹理好的红木做成家具、工艺品及园林建筑，供皇宫帝后们享用，于是便有了后来名扬海内外的“明式家具”。
                        </p>
                        <img src="__IMG__/knowledgeDetail_3_2.jpg" alt="" srcset="">
                        <p class="p1">
                            红木家具的故事中还有另外一个经典版本。传闻明朝有两个皇帝亲自参与做家具，技艺之精超过御用工匠。明王朝还从全国各地挑选大批优秀的木工作为工部官吏，有著名的工匠朱紫、陕西韩城郭文英、江苏吴县蒯祥等，官至工部侍郎、尚书之职。由于宫廷阶层追求奢侈生活的享受、社会的基础及皇帝亲自参与设计创作的重要原因，推动了红木家具的迅速发展。
                        </p>
                        <img src="__IMG__/knowledgeDetail_3_3.jpg" alt="" srcset="">
                        <p class="p1">
                            所以说最开始红木家具仅为王宫贵族所有，到后期红木大量的输入及王朝的灭亡，才流散发展到民间，但普通百姓还是不能承受的。改革开放后，高级豪华宾馆如雨后春笋般拔地而起，为了招待贵宾，他们购置高档红木家具进行铺设以示豪华；一些先富起来的成功人士，追求自然与享受，购买红木家具成为财富地位的象征。红木家具集实用、观赏、保值增值于一体，既是豪华的生活用品，又是收藏的珍品，理应能一代一代传下去。
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}