{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="detailWrap">
            <div class="container">
                <div class="detail ">
                    <h2 class="tit">
                        说说敦煌壁画和古典家具中的佛心禅语！
                    </h2>
                    <div class="info">
                        <p class="p1">敦煌莫高窟，又称千佛洞，位于河西走廊的西端。它始建于十六国的前秦时代，历经十六国，距现在有两千多年的历史。在它的里面有洞窟735个，壁画4.5万平方米、泥质彩塑2415尊，也是世界上现存规模最大、内容最丰富的佛教艺术地。隋代和唐代是敦煌艺术发展的鼎盛时期，加上印度佛教的传入，这一时期的壁画展现了无与伦比的佛教色彩。</p> 
                        <img src="__IMG__/knowledgeDetail_2_1.jpg" alt="" srcset="">
                        <p class="p1">唐代是中国古典家具发展的重要转型时期，这一时期的家具出现了高坐和低坐并存的现象。从席地而坐到垂足而坐，家具发生了重要的转变。虽然唐代流传下来的家具很少，但从敦煌壁画中便可窥得一二。</p>
                        <img src="__IMG__/knowledgeDetail_2_2.jpg" alt="" srcset="">
                        <p class="p1">《维摩诘经变图》是敦煌壁画中的重要经变图，这种题材在唐代十分盛行。壁画中的维摩诘使用了四件家具，分别是榻、围屏、帷帐、供案。这四件家具具有浓厚的盛唐风格，足见唐代家具已经完成了重要转变。而唐代家具对后世的影响深远，尤其是明朝才开始盛行的红木家具，在形制上很大程度上借鉴了唐代家具。</p>
                        <p class="p1">敦煌壁画与古典家具中的佛教色彩</p>
                        <p class="p1">敦煌壁画中有不少描绘佛教故事的，比如“萨捶那舍身饲虎”、“尸毗王割肉救鸽”、“九色鹿舍己救人”是早期壁画流行的题材，以及后期的“玄奘取经”故事。其风格也发生了显著的变化。早期风格人物感情外露，形态夸张，具有浓厚的西域风格，发展到唐代，不但题材愈加丰富，出现了净土变相、供养人、佛、菩萨等，其风格更加细腻化，动作表情多样，风格更加雄健、壮丽。</p>
                        <img src="__IMG__/knowledgeDetail_2_3.jpg" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}