{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="myserverWrap">
            <div class="container">
                <div class="serverInfo ">
                    <div class="tit">旧家具回收</div>
                    <ul class="list">
                        <li class="item">
                            <div class="flex-left">01</div>
                            <div class="flex-right">
                                <p>
                                    我们诚信提供快速，热忱周到的［免费上门］服务。价格合理，信守承诺，现金结算。我们长期面向社会各界高价回收：老家具，古典家具，红木家具，红酸枝家具，黄花梨家具，小叶紫檀家具等。
                                </p> 
                            </div>
                        </li>
                        <li class="item">
                            <div class="flex-left">02</div>
                            <div class="flex-right">
                                <h4>家具回收流程：</h4>
                                <p>
                                    (1) 下单、预约专业师傅上门勘察。
                                </p> 
                                <p>
                                    (2) 根据家具情况给出回收价格，确定回收价格。
                                </p> 
                                <p>
                                    (3) 按预约时间准时上门服务，免费搬运。
                                </p> 
                                <p>
                                    (4) 客户验收，现金付款。
                                </p> 
                            </div>
                        </li>
                        <li class="item">
                            <div class="flex-left">03</div>
                            <div class="flex-right justifyCenter">
                                <h4>服务承诺：</h4>
                                <p>
                                    免费上门回收、价格不合适可以不卖、不收取您任何上门费用。
                                </p> 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}