{extend name="public/base" /}
{block name="seo"}         
        <title>红日森</title>
    </head>
    <body class="newBody">
{/block}

{block name="content"}
    <div class="main">
        <div class="kuangtiao2"></div>
        <div class="myserverWrap">
            <div class="container">
                <div class="serverInfo ">
                    <div class="tit">古旧家具翻新</div>
                    <ul class="list">
                        <li class="item">
                            <div class="flex-left">01</div>
                            <div class="flex-right">
                                <p>
                                    红木家具在使用一定年限，有松动.有残缺.有脱漆.有掉色等等。我公司坐落于北京昌平，是一家有专业生产.修复古家具.旧家具资质的红木生产企业。，为您的古旧家具，进行专业的加固.补残缺件.做大漆.烫蜂蜡.对于古家具做到修旧如旧。对于旧家具，让家具焕然一新.重焕光彩。对于需要返厂家具，公司可以有偿提供红木家具周转，减少生活不便。
                                </p> 
                            </div>
                        </li>
                        <li class="item">
                            <div class="flex-left">02</div>
                            <div class="flex-right">
                                <h4>古旧家具翻新流程：</h4>
                                <p>
                                    (1) 下单.预约专业师傅上门勘察。
                                </p> 
                                <p>
                                    (2) 根据家具现装给出专业的1到3套解决方案，确定价钱，签订合同。
                                </p> 
                                <p>
                                    (3) 按照预约时间上门专业服务，事后清理工作区域。
                                </p> 
                                <p>
                                    (4) 客户验收，满意付款。
                                </p> 
                            </div>
                        </li>
                        <li class="item">
                            <div class="flex-left">03</div>
                            <div class="flex-right justifyCenter">
                                <h4>服务承诺：</h4>
                                <p>
                                    确定价格绝无临时加价，满意后付款。
                                </p> 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bgInfo">
            <div class="kuangtiao2"></div>
            {include file="public/mapWrap" /} 
        </div>
    </div>
{/block}
{block name="js"}{/block}