<div class="rfWrap">
    <!--w-cs-->
    <div class="tem_89_17_c w-cs" id="qqservice_tem_89_17">
        <ul class="w-cs-btn">
            <li class="w-cs-list w-cs-phoneBtn ">
                <a href="javascript:void(0);" class="w-cs-icon"><i class="mw-iconfont icon-phone">&#xb045;</i></a>
                <ul class="w-cs-menu w-cs-phone">
                    <li><h3>客服电话</h3></li>
                    <li>010-60771480</li>
                </ul>
            </li>
            <li class="w-cs-list w-cs-qqBtn ">
                <a href="javascript:void(0);" class="w-cs-icon"><i class="mw-iconfont">&#xb029;</i></a>
                <ul class="w-cs-menu w-cs-qq">
                        <li><a href="//wpa.qq.com/msgrd?v=3&amp;uin=348522760&amp;site=qq&amp;menu=yes" target="_blank">QQ客服</a></li>
                </ul>
            </li>
            <li class="w-cs-list w-cs-clockBtn ">
                <a href="javascript:void(0);" class="w-cs-icon"><i class="mw-iconfont icon-clock">&#xb025;</i></a>
                <ul class="w-cs-menu w-cs-clock">
                    <li><h3>服务时间</h3></li>
                    <li>周一至周日 24小时响应</li>
                </ul>
            </li>
            <!-- <li class="w-cs-list w-cs-qrcodeBtn w-hide">
                <a href="javascript:void(0);" class="w-cs-icon"><i class="mw-iconfont icon-qrcode">&#xb083;</i></a>
                <ul class="w-cs-menu w-cs-qrcode">
                    <li><h3>微信二维码</h3></li>
                    <li class="w-cs-qrcode-img"><img src="/Designer/Content/images/mob-ewm.png" alt=""></li>
                </ul>
            </li> -->
            <li class="w-cs-list w-cs-upBtn ">
                <a href="javascript:void(0);" onclick="gotoTop();return false;" class="w-cs-icon"><i class="mw-iconfont icon-up">&#xb155;</i></a>
            </li>
        </ul>
    </div>
    <!--/w-cs-->
</div>