<div class="footer">
    <div class="kuangtiao2"></div>
    <div class="container">                
        <div class="info">
            <div class="row">
                <div class="col-md-2">
                    <img src="__IMG__/footLogo.png" alt="" srcset="">
                </div>
                <div class="col-md-2">
                    <h3 class="h3">关于我们</h3>
                    <ul class="list">
                        <li>
                            <a href="">
                                企业概况
                            </a>
                        </li>
                        <li>
                            <a href="">
                                企业文化
                            </a>
                        </li>
                        <li>
                            <a href="">
                                企业荣誉
                            </a>
                        </li>
                        <li>
                            <a href="">
                                企业资质
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h3 class="h3">服务项目</h3>
                    <ul class="list">
                        <li>
                            <a href="">
                                家具维修
                            </a>
                        </li>
                        <li>
                            <a href="">
                                家具翻新
                            </a>
                        </li>
                        <li>
                            <a href="">
                                家具养护
                            </a>
                        </li>
                        <li>
                            <a href="">
                                旧家具回收
                            </a>
                        </li>
                        <li>
                            <a href="">
                                同城搬运
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="h3">关注我们</h3>
                    <div class="col-md-6">                                
                        <ul class="list">
                            <li>
                                <img src="__IMG__/erweima.png" alt="" srcset="">
                            </li>
                            <li class="item">
                                官方公众号
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">                                
                        <ul class="list">
                            <li>
                                <img src="__IMG__/smallproject.png" alt="" srcset="">
                            </li>
                            <li class="item">
                                官方抖音号
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="h3">联系我们</h3>
                    <ul class="list">
                        <li>
                            <a href="">
                                010-60771480
                            </a>
                        </li>
                        <li>
                            <a href="">
                                15011293615
                            </a>
                        </li>
                        <li>
                            <a href="">
                                周一至周日&nbsp;&nbsp;&nbsp;&nbsp;24小时响应
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomBg"></div>
</div>