<div class="ingenuityWrap">
    <div class="container">
        <div class="ingenuityInfo center">
            <h3 class="ingenuityTit">
                <img src="__IMG__/ingenuityTit.png" alt="" srcset="">
            </h3>
            <ul class="ingList">
                <li>
                    <div class="pic">
                        <img src="__IMG__/ingenuityImg1.png" alt="" srcset="">
                    </div>
                </li>
                <li>
                    <div class="pic">
                        <img src="__IMG__/ingenuityImg2.png" alt="" srcset="">
                    </div>
                </li>
                <li>
                    <div class="pic">
                        <img src="__IMG__/ingenuityImg3.png" alt="" srcset="">
                    </div>
                </li>
                <li>
                    <div class="pic">
                        <img src="__IMG__/ingenuityImg4.png" alt="" srcset="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>  