<div class="maintenanceWrap">
    <div class="container">
        <div class="maintenanceInfo center">
            <h3 class="h3Tit">红日森5S维保“匠心”服务</h3>
            <hr class="downLine" />
            <ul class="sList">
                <li>
                    <div class="pic pic1">
                        <img src="__IMG__/5s_1.png" alt="" srcset="">
                        <p>
                            <a href="{:url('/index/home/repair')}" class="btn lookDetail"></a>
                        </p> 
                    </div>
                </li>
                <li>
                    <div class="pic pic2">
                        <img src="__IMG__/5s_2.png" alt="" srcset="">
                        <p>
                            <a href="{:url('/index/home/renovate')}" class="btn lookDetail"></a>
                        </p> 
                    </div>
                </li>
                <li>
                    <div class="pic pic3">
                        <img src="__IMG__/5s_3.png" alt="" srcset="">
                        <p>
                            <a href="{:url('/index/home/curing')}" class="btn lookDetail"></a>
                        </p> 
                    </div>
                </li>
                <li>
                    <div class="pic pic4">
                        <img src="__IMG__/5s_4.png" alt="" srcset="">
                        <p>
                            <a href="{:url('/index/home/recovery')}" class="btn lookDetail"></a>
                        </p> 
                    </div>
                </li>
                <li>
                    <div class="pic pic5">
                        <img src="__IMG__/5s_5.png" alt="" srcset="">
                        <p>
                            <a href="{:url('/index/home/carry')}" class="btn lookDetail"></a>
                        </p> 
                    </div>
                </li>
            </ul>   
        </div>
    </div>
</div>