<div class="newsWrap">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="newsH3">行业资讯</h3>
                <hr class="downLine"/>
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="{:url('/index/home/industrydetail/detail/6')}">
                                <img class="media-object" src="__IMG__/index_news_industry.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">皇城里的红木家具——“京味儿”十足</h4>
                            <p class="p1">说起“京味文化”，大家首先想到的必是庄严巍峨的故宫、生旦净丑的京剧艺术、坐落市井的四合院建筑......</p>
                            <p class="p2">2020-1-30</p>
                        </div>
                    </li>
                </ul>
            </div>    
            <div class="col-md-6">
                <h3 class="newsH3">家具知识</h3>
                <hr class="downLine"/>
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <a href="{:url('/index/home/knowledgedetail/detail/6')}">
                                <img class="media-object" src="__IMG__/index_news_knowledge.jpg" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">生活中的“仪式感”，红木家具带给您</h4>
                            <p class="p1">
                                随着社会的发展，人们追求更高的生活品质，寻求“仪式感”。那么仪式感到底是什么呢？
                            </p>
                            <p class="p2">2019-12-20</p>
                        </div>
                    </li>
                </ul>
            </div>    
        </div>
    </div>   
</div>